<div class="main-content">
    <h2>
        Receiving all filtered emails from SMTP-Relay
    </h2>
    <p>
        For documentation <a href="https://docs.abainfra.net/company_services/communication_smtp-catcher.html">click here</a>.
    </p>
    <p>
    	For questions, feature requests or to report issues <a href="https://github.com/maildev/maildev" target="_blank">visit this project on GitHub</a>.
    </p>
    <br>
    <p>
        <small>You are running MailDev {{ config.version }}</small>
    </p>
</div>
